$primary-color: #ffc202;
$secondary-color: #6C757D;
$background-color: #555555;
$form-background-color: #FFFFFF;
$border-color: #DDD;
$input-border-color: #CCC;
$button-hover-color: darken($primary-color, 10%);
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

.body {
  font-family:"Bebas Neue", sans-serif; 
  margin: 0;
  padding: 0;
  background-color: white;
  
 
 
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white; 
  font-family:"Bebas Neue", sans-serif;
  background-image: url('https://www.ultraimagehub.com/wallpapers/tr:flp-false,gx-0.5,gy-1,q-75,rh-3264,rw-5824,th-1080,tw-1920/1226413365396766801.jpeg');
  .contact-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-top: 70px;
    background-color: #90969c;
    input{
      font-family: Arial, Helvetica, sans-serif;
    }

    
    
    

    h2 {
      text-align: center;
      margin-bottom: 20px;
      font-family:"Bebas Neue", sans-serif;
    
    }

    .form-group {
      margin-bottom: 15px;

      label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
        
      }

      .form-control {
        border-radius: 5px;
        padding: 10px;
        
      }
    }

    .btn {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
    }
  }
}
