<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="forgot-password-container">
    <h2>Forgot Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendPasswordResetEmail()">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" id="email" formControlName="email" placeholder="Enter your email" required>
      </div>
      <button type="submit" [disabled]="!forgotPasswordForm.valid">Send Verification Code</button>
    </form>
  </div>
  