<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ 'ABOUT_LIBRARY' | translate }}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="about-container">
    <section class="about-us">
      <h1>{{ 'ABOUT_LIBRARY' | translate }}</h1>
      <p>{{ 'ABOUT_LIBRARY_TEXT' | translate }}</p>
      <div class="about-images">
        <img src="assets/images/image7.jpg" alt="Library"loading="lazy">
        <img src="assets/images/image8.jpg" alt="Books"loading="lazy">
      </div>
    </section>
    <section class="our-team">
      <h2>{{ 'OUR_TEAM' | translate }}</h2>
      <div class="team-members">
        <div class="team-member">
          <img src="assets/images/101872697.jpg" alt="Team Member 1"loading="lazy">
          <h3>Eyüpcan Ekiz</h3>
          <p>{{ 'SOFTWARE_DEVELOPER' | translate }}</p>
        </div>
        <div class="team-member">
          <img src="assets/images/69604318.jpg" alt="Team Member 2"loading="lazy">
          <h3>Alperen Akal</h3>
          <p>{{ 'SOFTWARE_DEVELOPER' | translate }}</p>
        </div>
        <div class="team-member">
          <img src="assets/images/member7jpg.jpg" alt="Team Member 3"loading="lazy">
          <h3>Esma Nur Gökkaya</h3>
          <p>{{ 'SOFTWARE_DEVELOPER' | translate }}</p>
        </div>
        <div class="team-member">
          <img src="assets/images/125741378.jpg" alt="Team Member 4"loading="lazy">
          <h3>Haluk Aytış</h3>
          <p>{{ 'SOFTWARE_DEVELOPER' | translate }}</p>
        </div>
        <div class="team-member">
          <img src="assets/images/member7jpg.jpg" alt="Team Member 5" loading="lazy">
          <h3>Aysima Kesici</h3>
          <p>{{ 'SOFTWARE_DEVELOPER' | translate }}</p>
        </div>
      </div>
    </section>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
<footer>
  <br><br>
  <app-navbar></app-navbar>
</footer>
</html>

