
<!DOCTYPE html>  
<html lang="tr">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>{{ 'REGISTER' | translate }}</title>  
</head>  
<body>  
    
    <div class="register-container">
        <div class="form-container">
            <h2>{{ 'REGISTER' | translate }}</h2><br>
            <form  [formGroup]="registerForm" (ngSubmit)="onRegister()">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="UserName" formControlName="UserName" placeholder="{{ 'USERNAME' | translate }}">
                    <label for="username">{{ 'USERNAME' | translate }}</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="FullName" formControlName="FullName" placeholder="{{ 'FULLNAME' | translate }}">
                    <label for="fullname">{{ 'FULLNAME' | translate }}</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="Email" formControlName="Email" placeholder="{{ 'EMAIL' | translate }}">
                    <label for="email">{{ 'EMAIL2' | translate }}</label>
                    <div *ngIf="registerForm.get('Email')?.invalid && (registerForm.get('Email')?.touched || registerForm.get('Email')?.dirty)">
                        <small class="text-danger">{{ 'EMAIL1' | translate }}</small>
                      </div>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="Password" formControlName="Password" placeholder="{{ 'PASSWORD' | translate }}">
                    <label for="password">{{ 'PASSWORD' | translate }}</label>
                    <div *ngIf="registerForm.get('Password')?.invalid && (registerForm.get('Password')?.touched || registerForm.get('Password')?.dirty)">
                        <small class="text-danger" *ngIf="registerForm.get('Password')?.errors?.['minlength']">
                            {{ 'PASSWORD1' | translate }}
                        </small>
                      </div>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="PasswordRepeat" formControlName="PasswordRepeat" placeholder="{{ 'PASSWORD' | translate }}">
                    <label for="passwordRepeat">{{ 'PASSWORD' | translate }}</label>
                    <div *ngIf="registerForm.get('PasswordRepeat')?.invalid && (registerForm.get('PasswordRepeat')?.touched || registerForm.get('PasswordRepeat')?.dirty)">
                        <small class="text-danger">{{ 'PASSWORD2' | translate }}</small>
                      </div>
                </div>
                <div class="radio-group">
                    <label>
                      <input type="radio" [value]="genderType.male" formControlName="Gender" >
                      <span class="checkmark"></span>
                      {{ 'MALE' | translate }}
                    </label>
                    <label>
                      <input type="radio" [value]="genderType.female" formControlName="Gender" >
                      <span class="checkmark"></span>
                      {{ 'FEMALE' | translate }}
                    </label>
                  </div>
                  
                <br>

                
                <button type="submit" class="submit-button"  >{{ 'REGISTER' | translate }}</button>

            </form>
            <div class="login-container">
                <br>{{ 'ALREADY_HAVE_ACCOUNT' | translate }}<br><br>
                <a routerLink='/login' class="submit-button" id="sub">{{ 'LOGIN_HERE' | translate }}</a>
            </div>
        </div>
        
        <div id="registerphoto">
            <!-- Buraya bir resim veya başka bir içerik ekleyebilirsiniz -->
        </div>
    </div>
    
</body>  

    <app-navbar></app-navbar>

</html>
