$primary-color: #28a745;
$secondary-color: #6C757D;
$background-color: #F4F4F4;
$form-background-color: #FFFFFF;
$input-border-color: #CCC;
$button-hover-color: darken($primary-color, 10%);
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", sans-serif;
  h2 {
    text-align: center;
    color: $primary-color;
    margin-top: 150px ;
    margin-bottom: 30px;
    font-family: "Bebas Neue", sans-serif;
  }
}

.register-container {
  display: flex;
  height: 100vh; /* Sayfanın yüksekliğini tamamen kapla */
  padding: 0; /* Kenar boşluklarını kaldır */
  
  @media (min-width: 768px) {
    flex-direction: row;
    height: 100vh; /* Masaüstünde tam ekran yüksekliği */
  }

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center; /* İçeriği ortala */
  }
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: $form-background-color;
  max-width: 100%;
  font-family: "Bebas Neue", sans-serif;
  input{
    font-family:'Times New Roman', Times, serif;
  }
  @media (min-width: 768px) {
    max-width: 43%;
  }

  .submit-button {
    width: 100%;
    padding: 9px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;
    margin-bottom: 20px;
    &:hover {
      background-color: $button-hover-color;
    }

    @media (max-width: 768px) {
      font-size: 1em;
      padding: 10px;
    }
  }
}

#registerphoto {
  background-image: url('https://nypost.com/wp-content/uploads/sites/2/2019/03/old-library-book.jpg?quality=75&strip=all');
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  
  @media (max-width: 768px) {
    display: none; /* Mobil cihazlarda fotoğrafı gizle */
  }

  @media (min-width: 768px) {
    height: 100vh; /* Fotoğrafın tam yüksekliği kaplamasını sağla */
  }
}

.radio-group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;

  label {
    position: relative;
    padding-left: 35px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 1.2em;
    user-select: none;
    color: $secondary-color;
    transition: color 0.3s ease;

    &:hover {
      color: darken($secondary-color, 10%);
    }

    input[type="radio"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked ~ .checkmark {
        background-color: $primary-color;
        border-color: $primary-color;
      }

      &:checked ~ .checkmark:after {
        display: block;
      }
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: $background-color;
      border: 2px solid $secondary-color;
      border-radius: 50%;
      transition: background-color 0.3s ease, border-color 0.3s ease;

      &:after {
        content: "";
        position: absolute;
        display: none;
        top: 7px;
        left: 7px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: white;
        transition: transform 0.2s ease-in-out;
      }
    }
  }
}
#PasswordRepeat{
  margin-top: 15px;

}