.star-rating-container {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: #d3d3d3;
  }
  
  .stars {
    position: relative;
    color: #ffc107;
    pointer-events: none; /* Yıldızların tıklanmasını engelle */
  }
  
  .star-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Overlay'i tıklanabilir hale getirmek için z-index ayarlandı */
  }
  
  .star-overlay span {
    display: inline-block;
    width: 20%; /* Her yıldız için %20 genişlik */
    height: 100%;
    cursor: pointer;
  }
  
  