<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <app-carousel></app-carousel>

  <div class="info-sections">
    <div class="info-section" routerLink="/all-books">
      <img src="assets/images/booklibrary4.jpg" alt="Kitaplar">
      <div class="info-overlay">
        <span>KİTAPLAR</span>
      </div>
    </div>
    <div class="info-section" routerLink="/about">
      <img src="assets/images/booklibrary6.jpg" alt="Hakkımızda">
      <div class="info-overlay">
        <span>HAKKIMIZDA</span>
      </div>
    </div>
    <div class="info-section" routerLink="/contact">
      <img src="assets/images/booklibrary7.jpg" alt="İletişim">
      <div class="info-overlay">
        <span>İLETİŞİM</span>
      </div>
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
<footer class="footer">
  <div class="container">
    <div class="footer-columns">
      <div class="footer-column">
        <h4>Hakkımızda</h4>
        <p>
          Kütüphane sistemi, kitap ödünç alma ve iade etme işlemlerini yapabileceğiniz modern bir kütüphane çözümüdür. Amacımız, kullanıcılara kitaplara kolay erişim sağlamak ve yönetimlerini dijitalleştirmektir.
        </p>
      </div>
      <div class="footer-column">
        <h4>Bağlantılar</h4>
        <ul>
          <li><a href="/kvkk">KVKK</a></li>
          <li><a href="/privacy-policy">Gizlilik Politikası</a></li>
          <li><a href="/terms-of-service">Kullanım Koşulları</a></li>
          <li><a href="/contact">İletişim</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>İletişim</h4>
        <p>Adres:Ümraniye/İstanbul</p>
        <p>E-mail: booklibraryv&#64;gmail.com</p>
        <p>Web: booklibraryy.netlify.app</p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Sarı Sayfalar. Tüm hakları saklıdır.</p>
  </div>
  <app-navbar></app-navbar>
  <app-floating-button></app-floating-button>
</footer>

</html>
