.borrow-book-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    h2 {
      text-align: center;
      color: #28a745;
      margin-bottom: 20px;
      font-family: "Bebas Neue", sans-serif;
    }
  
    .borrowed-books-list {
      display: flex;
      flex-direction: column;
      gap: 15px;
  
      .book-item {
        background-color: white;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
  
        h3 {
          margin: 0;
          font-size: 1.2em;
        }
  
        p {
          margin: 5px 0;
          color: #6c757d;
        }
  
        .mark-read-button {
          align-self: flex-end;
          padding: 8px 1px;
          background-color: #17a2b8;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          margin-bottom: 3px;
          margin-right: 2px;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: darken(#17a2b8, 10%);
          }
        }
  
        .remove-button {
          align-self: flex-end;
          padding: 8px 27px;
          background-color: #dc3545;
          color: white;
          border: none;
          margin-top: 3px;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: darken(#dc3545, 10%);
          }
        }
      }
    }
  
    .add-book-form {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
  
      h3 {
        margin: 0 0 10px 0;
        color: #28a745;
        font-size: 1.5em;
      }
  
      form {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
  
      input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1em;
      }
  
      .add-button {
        padding: 10px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: darken(#28a745, 10%);
        }
      }
  
      .success-message {
        color: #28a745;
        font-size: 0.9em;
        margin-top: 10px;
      }
  
      .error-message {
        color: #dc3545;
        font-size: 0.9em;
        margin-top: 10px;
      }
    }
  
    p {
      text-align: center;
      color: #6c757d;
      font-size: 1.2em;
    }
  }
  