<div>
  <h2>Kitap Ödünç Al</h2>
  <div>
    <label for="bookName">Kitap Adı:</label>
    <input id="bookName" [(ngModel)]="bookName" placeholder="Kitap adını girin">
  </div>
  <div>
    <label for="userName">Kullanıcı Adı:</label>
    <input id="userName" [(ngModel)]="userName" placeholder="Kullanıcı adını girin">
  </div>
  <button (click)="addBorrowedbook()">Ödünç Al</button>

  <div *ngIf="message">
    <p>{{ message }}</p>
  </div>
</div>

<hr>

<h2>Ödünç Kitaplar</h2>
<ul>
  <li *ngFor="let book of borrowedBooks">
    <strong>Kitap Adı:</strong> {{ book.bookName }}<br>
    <strong>Yazar:</strong> {{ book.author }}<br>
    <strong>Yayınevi:</strong> {{ book.publisher }}<br>
    <strong>Mevcut Durumu:</strong> {{ book.isAvailable ? 'Mevcut' : 'Mevcut Değil' }}<br>
    <button (click)="removeBorrowedBook(book)">Geri Ver</button> <!-- Geri Ver butonu eklendi -->
    <button (click)="updateBorrowedBook(book)">Okundu</button>
  </li>
</ul>
