<div class="book-details-container">
  <img [src]="coverImageUrl" alt="Book Cover" id="bookimg">
  <div class="book-description">
    <h1>{{ bookName }}</h1>
    <p><strong>{{ 'DESCRIPTION' | translate }}:</strong> {{ description }}</p>
  </div>
  
 
  <div class="book-info">
    <p><strong>{{ 'AUTHOR' | translate }}</strong> {{ author }}</p>
    <p><strong>{{ 'PUBLISHER' | translate }}</strong> {{ publisher }}</p>
    <p><strong>{{ 'AVAILABLE' | translate }}:</strong> {{ available ? '✅' : '❌' }}</p>
    <p><strong>{{ 'STOCK' | translate }}:</strong> {{ stock }}</p>
    <p><strong>{{ 'Average Rating' | translate }}:</strong> {{ averageRating }}</p>
    <p><strong>{{ 'Rating Count' | translate }}:</strong> {{ ratingCount }}</p>
    <button type="button" class="btn btn-primary" id="btn-back" routerLink="/all-books">
      {{ 'RETURN_ALL_BOOKS' | translate }}
    </button>
    
    <button *ngIf="available" type="button" class="btn btn-success" id="btn-borrow" (click)="borrowBook(bookName)">
      {{ 'BORROW_BOOK' | translate }}
    </button>
  </div>
</div>


<div class="comments-section">
  <h3>Kitap Yorumları</h3>
  <app-star-rating [bookName]="bookName" [userName]="userName"></app-star-rating>
  <div class="comment" *ngFor="let comment of comments">
    <div class="comment-header">
      <img src="https://t4.ftcdn.net/jpg/04/17/45/29/360_F_417452904_rQxOdinTSq2Rc5Bjm5VwMNYdG6TluPrc.jpg" alt="{{comment.userName}}'s avatar" class="avatar">
      <p class="user-name"><strong>{{comment.userName}}</strong></p>
    </div>
    <p class="user-comment">{{comment.comment}}</p>
  </div>

  <form (ngSubmit)="addComment(bookName)" class="comment-form">
    <div class="form-group">
      <label for="comment">Yorumunuzu yazın:</label>
      <textarea id="comment" [(ngModel)]="newComment.text" name="comment" required></textarea>
    </div>
    <button type="submit" class="submit-button">Yorumu Gönder</button>
  </form>
</div>



<app-another-navbar></app-another-navbar>
<app-floating-button></app-floating-button>