<div class="book-details-container">
  <img [src]="coverImageUrl" alt="Book Cover" id="bookimg">
  <div class="book-description">
    <p><strong>{{ 'DESCRIPTION' | translate }}:</strong> {{ description }}</p>
  </div>
  <h1>{{ bookName }}</h1>
 
  <div class="book-info">
    <p><strong>{{ 'AUTHOR' | translate }}</strong> {{ author }}</p>
    <p><strong>{{ 'PUBLISHER' | translate }}</strong> {{ publisher }}</p>
    <p><strong>{{ 'AVAILABLE' | translate }}:</strong> {{ available ? '✅' : '❌' }}</p>
    <p><strong>{{ 'STOCK' | translate }}</strong> {{ stock }}</p>
  </div>
</div>

<button type="button" class="btn btn-primary" id="btn-back" routerLink="/all-books">
  {{ 'RETURN_ALL_BOOKS' | translate }}
</button>

<button *ngIf="available" type="button" class="btn btn-primary" id="btn-borrow" (click)="borrowBook(bookName)">
  {{ 'BORROW_BOOK' | translate }}
</button>

<app-another-navbar></app-another-navbar>
