<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Verification Code</title>
</head>
<body>
  <div class="container">
      <div class="header">
          Your Verification Code
      </div>
      <div class="content">
          <p>Enter this verification code in the field:</p>
          <div class="verification-code">{{verificationCode}}</div>
          <p>Verification code is valid only for 30 minutes</p>
      </div>
      <div class="footer">
          If you did not request this code, please ignore this email.
      </div>
  </div>
</body>
</html>