<div class="login-container">  
    <div class="form-container">  
        <h2>Login</h2> <br>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" formControlName="username" placeholder="Username">
              <label for="floatingInput">Username</label>
            </div><br>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" formControlName="password" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div><br>
            <button type="submit" class="submit-button">Login</button>
            <br><br>Don't you have an account?<br><br>
            <a routerLink='/register' class="submit-button">Register here</a>
          </form> 
    </div>  
    <div id="loginphoto"></div>  
</div>
