
$primary-color: #28a745;
$secondary-color: #6C757D;
$background-color: #F4F4F4;
$form-background-color: #FFFFFF;
$input-border-color: #CCC;
$button-hover-color: darken($primary-color, 10%);
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

body {  
    font-family: "Bebas Neue", sans-serif;
    margin: 0; /* Varsayılan margin'i sıfırlama */  
    padding: 0; /* Varsayılan padding'i sıfırlama */  
    h2{
        font-family: "Bebas Neue", sans-serif;
        color:$primary-color;
    }
    #floatingInput{
        font-family: 'Times New Roman', Times, serif;
    }
    #floatingPassword{
        font-family: 'Times New Roman', Times, serif;
    }
}  

.login-container {  
    
    display: flex; /* Esnek kutu düzeni */  
    height: 120vh; /* Sayfanın tamamını kapla */  
}  

.form-container {  
    flex: 1; /* Formun genişliğini ayarlamak için */  
    display: flex;  
    flex-direction: column; /* İçerikleri dikey yerleştir */  
    justify-content: center; /* Dikeyde ortala */  
    padding: 40px; /* İç boşluk ekle */  
    background-color: #f9f9f9; /* Arka plan rengi */  
}  

#loginphoto {  
    flex: 1; /* Resim bölümünün genişliğini ayarla */  
    display: flex; /* Esnek kutu düzeni */  
    justify-content: center; /* Yatayda ortala */  
    align-items: center; /* Dikeyde ortala */  
    background-image: url('https://i.pinimg.com/originals/f2/1c/2f/f21c2f27294e010cdc2af50533b90228.jpg');
}  

#loginphoto img {  
    max-width:  100%; 
    height: auto; 
   
}
.submit-button {
    width: 100%;
    padding: 15px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;

    &:hover {
      background-color: $button-hover-color;
    }
  }