

<!DOCTYPE html>  
<html lang="tr">  
<head>  

    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>{{ 'LOGIN' | translate }}</title>  
</head>  
<body>
  
  <div class="login-container">  
    <div class="form-container">  
        <h2>{{ 'LOGIN' | translate }}</h2><br>
        <div>
          <span class="link-button" (click)="showEmailForm()" *ngIf="isUsernameFormVisible">E-posta ile giriş yap</span>
          <span class="link-button" (click)="showUsernameForm()" *ngIf="isEmailFormVisible">Kullanıcı adı ile giriş yap</span>
        </div><br>
        
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="form-floating mb-3" *ngIf="isUsernameFormVisible">
              <input type="text" class="form-control" id="floatingInput" formControlName="username" placeholder="{{ 'USERNAME' | translate }}">
              <label for="floatingInput">{{ 'USERNAME' | translate }}</label>
              <br>
            </div> 
            <div class="form-floating mb-3" *ngIf="isEmailFormVisible">
              <input type="text" class="form-control" id="floatingInput" formControlName="email" placeholder="{{ 'Email' | translate }}">
              <label for="floatingInput">{{ 'EMAIL2' | translate }}</label>
              <br>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" formControlName="password" placeholder="{{ 'PASSWORD' | translate }}">
              <label for="floatingPassword">{{ 'PASSWORD' | translate }}</label>
            </div><br>
            <button type="submit" class="submit-button">{{ 'LOGIN' | translate }}</button>
            <br><br>{{ 'DONT_HAVE_ACCOUNT' | translate }}<br><br>
            <a routerLink='/register' class="submit-button">{{ 'REGISTER_HERE' | translate }}</a>
            <a routerLink='/forgot-password' id="forgot">{{ 'FORGOT_PASSWORD' | translate }}</a>
          </form> 
    </div>  
    <div id="loginphoto"></div>  
</div>
</body>
<footer>
  <br><br>
  <app-navbar></app-navbar>
</footer>
</html>


<!-- 


<form [formGroup]="loginForm" (ngSubmit)="onLogin()">

    <div class="form-floating mb-3" *ngIf="isEmailFormVisible">
      <input type="text" class="form-control" id="floatingEmail" formControlName="email" placeholder="{{ 'EMAIL2' | translate }}">
      <label for="floatingEmail">{{ 'EMAIL2' | translate }}</label>
      <br>  
    </div>

    <div class="form-floating mb-3" *ngIf="isUsernameFormVisible">
      <input type="text" class="form-control" id="floatingUsername" formControlName="username" placeholder="{{ 'USERNAME' | translate }}">
      <label for="floatingUsername">{{ 'USERNAME' | translate }}</label>
      <br>
    </div> -->
