<div class="add-book-container">
  <h2>{{ 'ADD_BOOKS' | translate }}</h2>
  <form (ngSubmit)="addBook()" [formGroup]="bookForm">
    <div class="form-group">
      <label for="title">{{ 'BOOK_TITLE' | translate }}</label>
      <input type="text" id="title" formControlName="title" class="form-control" placeholder="{{ 'BOOK_TITLE' | translate }}">
    </div>
    <div class="form-group">
      <label for="publisher">{{ 'PUBLISHER' | translate }}</label>
      <input type="text" id="publisher" formControlName="publisher" class="form-control" placeholder="{{ 'PUBLISHER' | translate }}">
    </div>
    <div class="form-group">
      <label for="author">{{ 'AUTHOR' | translate }}</label>
      <input type="text" id="author" formControlName="author" class="form-control" placeholder="{{ 'AUTHOR' | translate }}">
    </div>
    <div class="form-group file-upload">
      <label for="bookImage">{{ 'BOOK_IMAGE' | translate }}</label>
      <input type="file" id="bookImage" (change)="onFileSelected($event)" class="form-control-file">
      <span>{{ 'CHOOSE_FILE' | translate }}</span>
    </div>
    <div *ngIf="selectedImage" class="image-preview">
      <img [src]="selectedImage" alt="{{ 'BOOK_IMAGE_PREVIEW' | translate }}">
    </div>
    <button type="submit" class="btn btn-primary">{{ 'ADD_BOOK_BUTTON' | translate }}</button>
  </form>
</div>
<app-another-navbar></app-another-navbar>
