<div class="terms-of-service-container">
  <h1>Kullanım Koşulları (Terms of Service)</h1>
  <p>
    Bu kullanım koşulları, web sitemizi kullanırken uyulması gereken kuralları ve kullanıcıların
    sorumluluklarını açıklamaktadır. Web sitemizi kullanarak, bu koşulları kabul etmiş sayılırsınız.
    Eğer bu koşulları kabul etmiyorsanız, lütfen web sitemizi kullanmayınız. Bu koşullar, zaman zaman
    güncellenebilir ve web sitemizi kullanmaya devam ettiğiniz sürece bu güncellemeleri kabul etmiş
    sayılırsınız.
  </p>
  <h2>1. Hizmetin Tanımı</h2>
  <p>
    Web sitemiz, kullanıcıların çeşitli bilgilere erişim sağlamasına, içerik paylaşmasına ve hizmetler
    sunmamıza olanak tanır. Web sitemizde sunulan içerik ve hizmetler, sadece bilgi ve kişisel
    kullanım amacıyla sunulmaktadır. Ticari kullanım veya üçüncü şahıslara sunulmak üzere kullanım
    kesinlikle yasaktır.
  </p>
  <h2>2. Kullanıcı Hesapları</h2>
  <p>
    Web sitemize erişmek ve belirli hizmetleri kullanmak için bir kullanıcı hesabı oluşturmanız
    gerekebilir. Hesap oluştururken sağladığınız bilgilerin doğru, güncel ve eksiksiz olması
    zorunludur. Hesap bilgilerinizin gizliliğinden ve hesabınızın güvenliğinden siz sorumlusunuz.
    Hesabınızın izinsiz kullanımını fark ederseniz derhal bizi bilgilendirmeniz gerekmektedir.
  </p>
  <h2>3. Kullanıcı Yükümlülükleri</h2>
  <p>
    Web sitemizi kullanırken, yürürlükteki tüm yasa ve yönetmeliklere uymakla yükümlüsünüz. Web
    sitemizde aşağıdaki davranışlar kesinlikle yasaktır:
    <ul>
      <li>Yasa dışı, zararlı, tehdit edici, taciz edici, iftira niteliğinde, müstehcen veya
        saldırgan içerik paylaşımı.</li>
      <li>Başka bir kişinin kimliğine bürünmek veya sahte hesaplar oluşturmak.</li>
      <li>Web sitemizin işleyişini engelleyebilecek veya zarar verebilecek her türlü faaliyet.</li>
      <li>Web sitemizde sunulan içerik ve hizmetlerin izinsiz kopyalanması, dağıtılması veya
        değiştirilmesi.</li>
      <li>Başka kullanıcıların gizliliğini ihlal edecek davranışlar sergilemek.</li>
    </ul>
  
  <h2>4. Fikri Mülkiyet Hakları</h2>
  <p>
    Web sitemizde yer alan tüm içerik, tasarım, metin, grafik, logo, simge, görüntü, video klipler,
    yazılım ve diğer materyaller tarafımıza aittir ve telif hakkı, marka ve diğer fikri mülkiyet
    yasaları ile korunmaktadır. Bu materyalleri izinsiz kopyalamak, dağıtmak veya kullanmak kesinlikle
    yasaktır. Web sitemizi kullanarak, bu materyalleri sadece kişisel ve ticari olmayan kullanım
    amacıyla görüntüleyebilir veya indirebilirsiniz.
  </p>
  <h2>5. Sorumluluk Reddi</h2>
  <p>
    Web sitemizde sunulan içerik ve hizmetler "olduğu gibi" ve "mevcut olduğu sürece" sunulmaktadır.
    Hizmetlerin kesintisiz, hatasız veya güvenli olacağına dair hiçbir garanti vermemekteyiz. Web
    sitemizi kullanmanızdan doğacak herhangi bir zarardan sorumlu tutulamayız. Bu sorumluluk reddi,
    geçerli yasa tarafından izin verilen azami ölçüde geçerli olacaktır.
  </p>
  <h2>6. Üçüncü Taraf Bağlantıları</h2>
  <p>
    Web sitemiz, üçüncü taraf web sitelerine bağlantılar içerebilir. Bu bağlantılar, yalnızca
    kolaylık sağlamak amacıyla sunulmaktadır ve bu sitelerdeki içerikten veya gizlilik
    uygulamalarından sorumlu değiliz. Üçüncü taraf sitelerine erişirken, bu sitelerin kullanım
    koşullarını ve gizlilik politikalarını gözden geçirmeniz önerilir.
  </p>
  <h2>7. Değişiklikler ve Güncellemeler</h2>
  <p>
    Bu kullanım koşulları, zaman zaman güncellenebilir. Koşullardaki herhangi bir değişiklik, bu
    sayfa üzerinden duyurulacaktır. Kullanıcıların güncellemelerden haberdar olmak için bu sayfayı
    düzenli olarak kontrol etmeleri önerilir. Bu koşullarda yapılan değişikliklerden sonra web
    sitemizi kullanmaya devam etmeniz, yapılan değişiklikleri kabul ettiğiniz anlamına gelir.
  </p>
  <h2>8. İletişim Bilgileri</h2>
  <p>
    Kullanım koşullarımız hakkında herhangi bir sorunuz, yorumunuz veya endişeniz varsa, aşağıdaki
    iletişim bilgileri aracılığıyla bizimle iletişime geçebilirsiniz:
    <ul>
      <li>Adres: Ümraniye/İstanbul</li>
      <li>E-mail: booklibraryv&#64;gmail.com</li>
      <li>Web: booklibraryy.netlify.app</li>
    </ul>
  
  
</div>
