<div class="category-container">
  <h2 class="category-title">Bilim Kurgu</h2>
  <div class="book-carousel">
    <div class="book-item">
      <div class="book-details">
        <span class="book-title">Dune</span>
        <a class="btn btn-primary" (click)="borrowBook('Dune')" routerLink="/my-books">Ödünç Al</a>

      </div>
    </div>
    <div class="book-item">
      <div class="book-details">
        <span class="book-title">1984</span>
        <a class="btn btn-primary" (click)="borrowBook('1984')" routerLink="/my-books">Ödünç Al</a>
      </div>
    </div>
    <div class="book-item">
      <div class="book-details">
        <span class="book-title">Fahrenheit 451</span>
        <a class="btn btn-primary" (click)="borrowBook('Fahrenheit 451')" routerLink="/my-books">Ödünç Al</a>
      </div>
    </div>
  </div>
</div>

<div class="category-container">
  <h2 class="category-title">Romantik</h2>
  <div class="book-carousel">
    <div class="book-item">
      <div class="book-details">
        <span class="book-title">Aşk ve Gurur</span>
        <a class="btn btn-primary" (click)="borrowBook('Aşk ve Gurur')" routerLink="/my-books">Ödünç Al</a>
      </div>
    </div>
    <div class="book-item">
      <div class="book-details">
        <span class="book-title">Jane Eyre</span>
        <a class="btn btn-primary" (click)="borrowBook('Jane Eyre')" routerLink="/my-books">Ödünç Al</a>
      </div>
    </div>
    <div class="book-item">
      <div class="book-details">
        <span class="book-title">Anna Karenina</span>
        <a class="btn btn-primary" (click)="borrowBook('Anna Karenina')" routerLink="/my-books">Ödünç Al</a>
      </div>
    </div>
  </div>
</div>

<div class="category-container">
  <h2 class="category-title">Macera</h2>
  <div class="book-carousel">
    <div class="book-item">
      <div class="book-details">
        <span class="book-title">Robinson Crusoe</span>
        <a class="btn btn-primary" (click)="borrowBook('Robinson Crusoe')" routerLink="/my-books">Ödünç Al</a>
      </div>
    </div>
    <div class="book-item">
      <div class="book-details">
        <span class="book-title">Treasure Island</span>
        <a class="btn btn-primary" (click)="borrowBook('Treasure Island')" routerLink="/my-books">Ödünç Al</a>
      </div>
    </div>
    <div class="book-item">
      <div class="book-details">
        <span class="book-title">The Count of Monte Cristo</span>
        <a class="btn btn-primary" (click)="borrowBook('The Count of Monte Cristo')" routerLink="/my-books">Ödünç Al</a>
      </div>
    </div>
  </div>
</div>

<div class="category-container">
  <h2 class="category-title">Klasik</h2>
  <div class="book-carousel">
    <div class="book-item">
      <div class="book-details">
        <span class="book-title">Moby Dick</span>
        <a class="btn btn-primary" (click)="borrowBook('Moby Dick')" routerLink="/my-books">Ödünç Al</a>
      </div>
    </div>
    <div class="book-item">
      <div class="book-details">
        <span class="book-title">Great Expectations</span>
        <a class="btn btn-primary" (click)="borrowBook('Great Expectations')" routerLink="/my-books">Ödünç Al</a>
      </div>
    </div>
    <div class="book-item">
      <div class="book-details">
        <span class="book-title">Crime and Punishment</span>
        <a class="btn btn-primary" (click)="borrowBook('Crime and Punishment')" routerLink="/my-books">Ödünç Al</a>
      </div>
    </div>
  </div>
</div>

<div class="category-container">
  <h2 class="category-title">Tarih</h2>
  <div class="book-carousel">
    <div class="book-item">
      <div class="book-details">
        <span class="book-title">Sapiens</span>
        <a class="btn btn-primary" (click)="borrowBook('Sapiens')" routerLink="/my-books">Ödünç Al</a>
      </div>
    </div>
    <div class="book-item">
      <div class="book-details">
        <span class="book-title">Guns, Germs, and Steel</span>
        <a class="btn btn-primary" (click)="borrowBook('Guns, Germs, and Steel')" routerLink="/my-books">Ödünç Al</a>
      </div>
    </div>
    <div class="book-item">
      <div class="book-details">
        <span class="book-title">The History of the Peloponnesian War</span>
        <a class="btn btn-primary" (click)="borrowBook('The History of the Peloponnesian War')" routerLink="/my-books">Ödünç Al</a>
      </div>
    </div>
  </div>
</div>

<div class="category-container">
  <h2 class="category-title">Felsefe</h2>
  <div class="book-carousel">
    <div class="book-item">
      <div class="book-details">
        <span class="book-title">The Republic</span>
        <a class="btn btn-primary" (click)="borrowBook('The Republic')" routerLink="/my-books">Ödünç Al</a>
      </div>
    </div>
    <div class="book-item">
      <div class="book-details">
        <span class="book-title">Thus Spoke Zarathustra</span>
        <a class="btn btn-primary" (click)="borrowBook('Thus Spoke Zarathustra')" routerLink="/my-books">Ödünç Al</a>
      </div>
    </div>
    <div class="book-item">
      <div class="book-details">
        <span class="book-title">Meditations</span>
        <a class="btn btn-primary" (click)="borrowBook('Meditations')" routerLink="/my-books">Ödünç Al</a>
      </div>
    </div>
  </div>
</div>

<div class="category-container">
  <h2 class="category-title">Fantastik</h2>
  <div class="book-carousel">
    <div class="book-item">
      <div class="book-details">
        <span class="book-title">The Lord of the Rings</span>
        <a class="btn btn-primary" (click)="borrowBook('The Lord of the Rings')" routerLink="/my-books">Ödünç Al</a>
      </div>
    </div>
    <div class="book-item">
      <div class="book-details">
        <span class="book-title">Harry Potter</span>
        <a class="btn btn-primary" (click)="borrowBook('Harry Potter')" routerLink="/my-books">Ödünç Al</a>
      </div>
    </div>
    <div class="book-item">
      <div class="book-details">
        <span class="book-title">A Song of Ice and Fire</span>
        <a class="btn btn-primary" (click)="borrowBook('A Song of Ice and Fire')" routerLink="/my-books">Ödünç Al</a>
      </div>
    </div>
  </div>
</div>

<app-another-navbar></app-another-navbar>
