<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="all-books-container">
        <h1>{{ 'ALL_BOOKS' | translate }}</h1>
      
        <div class="search-bar">
            <input type="text" [(ngModel)]="searchTerm" placeholder="Kitap ismi ile arayın" (input)="filterAndPaginateBooks()">


        </div>
      
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      
        <ul *ngIf="paginatedBooks.length > 0; else noBooks" class="book-list">
          <li *ngFor="let book of paginatedBooks" class="book-item">
            <div class="book-cover">
              <img [src]="book.coverImageUrl" alt="Book Cover">
            </div>
      
            <div class="book-info">
              <strong>{{ book.bookName }}</strong>
              <div class="info-item">{{ 'AUTHOR' | translate }} {{ book.author }}</div>
              <div class="info-item">{{ 'PUBLISHER' | translate }} {{ book.publisher }}</div>
              <div class="info-item">{{ 'STOCK' | translate }}: {{ book.stock }}</div>
              <div class="info-item">{{ 'AVAILABLE' | translate }}: {{ book.isAvailable ? '✅' : '❌' }}</div>
              <div class="info-item">{{ 'CATEGORY' | translate }}: {{ book.category }}</div>
            </div>
      
            <button (click)="viewBookDetails(book.bookName)">
                {{ (book.isAvailable ? 'REWIEW_BORROW' : 'REWIEW') | translate }}

            </button>
          </li>
        </ul>
      
        <ng-template #noBooks>
          <p>Kitap bulunamadı.</p>
        </ng-template>
      
        <!-- Sayfalama düğmeleri -->
        <div class="btn-group">
          <button type="button" class="btn btn-success" (click)="goToPreviousPage()" [disabled]="currentPage === 1">
            <i class="bi bi-arrow-left"></i>
          </button>
          <span>Sayfa {{ currentPage }}</span>
          <button type="button" class="btn btn-success" (click)="goToNextPage()" [disabled]="paginatedBooks.length < itemsPerPage">
            <i class="bi bi-arrow-right"></i>
          </button>
        </div>
      </div>
      
      
    <app-another-navbar></app-another-navbar>
</body>
</html>
