<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div class="all-books-container">
        <h1>{{ 'ALL_BOOKS' | translate }}</h1>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      
        <ul *ngIf="books.length > 0; else noBooks" class="book-list">
          <li *ngFor="let book of books" class="book-item">

            <div class="book-cover">
              <img src="https://i.dr.com.tr/cache/154x170-0/originals/0002122599001-1.jpg" alt="">
            </div>

            <div class="book-info">
              <strong>{{ book.bookName }}</strong>  {{ book.author }}<br> ({{ 'PUBLISHER' | translate }} {{ book.publisher }})
              <p>{{ 'AVAILABLE' | translate }} :{{ book.isAvailable ? '✅' : '❌' }}</p>
              <p>{{ 'STOCK' | translate }} :{{book.stock}}</p>

            </div>
            <button (click)="viewBookDetails(book.bookName)">{{book.isAvailable ? 'Kitabı İncele ve Ödünç Al'  : 'Kitabı İncele'}}</button>
          </li>
        </ul>
        <ng-template #noBooks>
          <p>Kitap bulunamadı.</p>
        </ng-template>
      </div>
      
    <app-another-navbar></app-another-navbar>
    
</body>
</html>