<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div class="all-books-container">
        <h1>Tüm Kitaplar</h1>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      
        <ul *ngIf="books.length > 0; else noBooks" class="book-list">
          <li *ngFor="let book of books" class="book-item">
            <div class="book-info">
              <strong>{{ book.bookName }}</strong> by {{ book.author }} (Publisher: {{ book.publisher }})
              <p>Available: {{ book.isAvailable ? '✅' : '❌' }}</p>
              <p>Stock: {{book.stock}}</p>
            </div>
            <button (click)="viewBookDetails(book.bookName)">View Details</button>
          </li>
        </ul>
        <ng-template #noBooks>
          <p>Kitap bulunamadı.</p>
        </ng-template>
      </div>
      
    <app-another-navbar></app-another-navbar>
    
</body>
</html>