.reset-password-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 70px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 0.6s ease-in-out;
  .text-danger{
    color: rgba(#dc3545,1);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px }
    small{
      font-size: .875em
    }
  small
    h2 {
      color: #333;
      margin-bottom: 20px;
      font-family: 'Bebas Neue', sans-serif;
      letter-spacing: 1.5px;
      position: relative;
      text-transform: uppercase;
  
      &::after {
        content: '';
        width: 50px;
        height: 3px;
        background-color: #28a745;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        transition: width 0.4s ease;
      }
  
      &:hover::after {
        width: 100%;
      }
    }
  
    .form-group {
      margin-bottom: 20px;
      text-align: left;
  
      label {
        display: block;
        margin-bottom: 5px;
        color: #555;
        font-weight: bold;
      }
  
      input[type="password"] {
        width: 100%;
        padding: 12px 15px;
        border-radius: 5px;
        border: 1px solid #ccc;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
        font-size: 1em;
  
        &:focus {
          border-color: #28a745;
          box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
          outline: none;
        }
      }
    }
  
    button[type="submit"] {
      width: 100%;
      padding: 12px 20px;
      background-color: #28a745;
      color: #fff;
      border: none;
      border-radius: 25px;
      font-size: 1.1em;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;
  
      &:hover {
        background-color: darken(#28a745, 10%);
        transform: scale(1.05);
      }
  
      &:active {
        transform: scale(0.95);
      }
  
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  